# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask/Django
instance/
.webassets-cache

# Pytest
.cache/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Distribution/Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Celery beat schedule file
celerybeat-schedule

# Logs
*.log

# Database
*.sqlite3
*.db

# Environments
.env
.flaskenv

# MacOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Static and media files
static/
media/

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
.eggs/
lib/
lib64/
parts/
var/
sdist/
wheels/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# Pyre type checker
.pyre/

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# flask-admin translations
translations/

# Local env files
*.env.local
